body { 
    text-align: center;}
form input {
    padding : 10px;
    margin : 10px;}
.container button {
    padding : 10px;
    margin : 10px;
    border-radius: 10px;
    border: none;
    background-color: lightcoral;
    color: aliceblue;
}


